<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="MyFile" fileName="log/log.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>